<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackbulgaria.getfit">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".exercise.StartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".exercise.NotificationService" />

        <receiver
            android:name=".exercise.Notifications"
            android:exported="true">
            <action android:name="com.hackbulgaria.getfit.exercise.START_ALARM" />
        </receiver>

        <activity android:name=".foodTest.QuizActivity" />
        <activity android:name=".camera.StartCamera" />
        <activity android:name=".workout.muscleGain.WorkoutProgram" />
        <activity android:name=".workout.muscleGain.MuscleGainGym" />
        <activity android:name=".workout.muscleGain.MuscleGainTrainingEnvironment" />
        <activity android:name=".workout.muscleGain.MuscleGainHome_Pushups" />
        <activity android:name=".camera.TestQuality" />
        <activity android:name=".foodTest.StartTest" />
        <activity android:name=".foodTest.EndTest" />
        <activity android:name=".exercise.ResultActivity" />
        <activity android:name=".workout.muscleGain.MuscleGainOutside"></activity>
    </application>

</manifest>